<mat-toolbar class="container">
    <mat-toolbar-row class="navbar">
        <h1 class="mat-title">OnWeb</h1>
        <ul class="nav">
            <li class="nav-item">
                <a [routerLink]="['']" class="nav-link">
                    <mat-icon aria-hidden="false">
                        home
                    </mat-icon>
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['users']" class="nav-link">
                    <mat-icon aria-hidden="false">
                        person
                    </mat-icon>
                </a>
            </li>
        </ul>
    </mat-toolbar-row>
</mat-toolbar>